# Database Configuration
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=

# Redis Configuration
REDIS_URL=

# JWT Configuration
SECRET_KEY=
# Google OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# LLM Configuration
OPENAI_API_KEY=
OPENAI_MODEL_NAME=